@model MoviesViewModel

@{
    ViewData["Title"] = "Home Page";
}

<head>
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<!-- Navigation Bar-->
<!--<div class="navbar fixed-top" id="navbar">
    <div class="container">
        <a class="logo" href="index.html">KKS<span>Housing</span></a>

        <img id="mobile-cta" class="mobile-menu" src="images/menu.svg"
             alt="Open Navigation">

        <nav>
            <img id="mobile-exit" class="mobile-menu-exit" src="images/exit.svg"
                 alt="Close Navigation">

            <ul>
            </ul>

            <ul class="primary-nav">
                <li><a href="about.html">About Us</a></li>
                <li><a href="products.html">Products</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </nav>
    </div>
</div>-->

@Html.Partial("_NavBar")


<main>

    <div class="filters">
        <div class="search-right-container">
            <div class="search-content">
                <form method="get" action="@Url.Action("Index")">
                    <div class="search-bar">
                        <input type="text" name="searchQuery" placeholder="Search for movies" />
                    </div>
                    <div class="page-info">
                        <h4>Page @(ViewBag.CurrentPage) of @(ViewBag.TotalPages)</h4>
                        @if (@User.Identity.IsAuthenticated)
                        {
                            <h4>@User.FindFirst("Username")?.Value</h4>
                        }
                    </div>
                </form>
            </div>
        </div>




        <!-- Next and Back buttons -->
        <div class="pagination-container">
            @if (ViewBag.CurrentPage > 1)
            {
                <a href="/Home/Index?page=@(ViewBag.CurrentPage - 1)&searchQuery=@ViewBag.SearchQuery" class="back-button">Back</a>
            }
            else
            {
                <span>Back</span>
            }

            @if (ViewBag.CurrentPage < ViewBag.TotalPages)
            {
                <a href="/Home/Index?page=@(ViewBag.CurrentPage + 1)&searchQuery=@ViewBag.SearchQuery" class="next-button">Next</a>
            }
            else
            {
                <span>Next</span>
            }
        </div>



        <div class="trending-movies">
            <h3 class="trending-text">Trending</h3>
        </div>
        <div class="movies-container">
            <div class="card-container">
                @foreach (var movie in Model.TrendingMovies)
                {
                    <div class="card">
                        <div class="card-image">
                            <img src="@movie.poster_path_url" alt="Movie Poster" />
                        </div>
                        <div class="card-content">
                            <div class="titleHolder">
                                <h2>@movie.title</h2>
                            </div>
                            <div class="button-container">
                                @if (movie.IsSaved)
                                {
                                    <form method="post" action="@Url.Action("RemoveMovie", "Home", new { searchQuery = ViewBag.SearchQuery, page = ViewBag.CurrentPage })">
                                        <input type="hidden" name="title" value="@movie.title" />
                                        <button type="submit" class="@(movie.IsSaved ? "saved" : "")">Remove</button>
                                    </form>
                                }
                                else
                                {
                                    <form method="post" action="@Url.Action("SaveMovie", "Home", new { searchQuery = ViewBag.SearchQuery, page = ViewBag.CurrentPage })">
                                        <input type="hidden" name="title" value="@movie.title" />
                                        <input type="hidden" name="overview" value="@movie.overview" />
                                        <input type="hidden" name="poster" value="@movie.poster_path_url" />
                                        <button type="submit">Save</button>
                                    </form>
                                }
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>







        <div class="trending-movies">
            <h3 class="trending-text">Popular</h3>
        </div>
        <div class="movies-container">
            <div class="card-container">
                @foreach (var movie in Model.PopularMovies)
                {
                    <div class="card">
                        <div class="card-image">
                            <img src="@movie.poster_path_url" alt="Movie Poster" />
                        </div>
                        <div class="card-content">
                            <div class="titleHolder">
                                <h2>@movie.title</h2>
                            </div>
                            <div class="button-container">
                                @if (movie.IsSaved)
                                {
                                    <form method="post" action="@Url.Action("RemoveMovie", "Home", new { searchQuery = ViewBag.SearchQuery, page = ViewBag.CurrentPage })">
                                        <input type="hidden" name="title" value="@movie.title" />
                                        <button type="submit" class="@(movie.IsSaved ? "saved" : "")">Remove</button>
                                    </form>
                                }
                                else
                                {
                                    <form method="post" action="@Url.Action("SaveMovie", "Home", new { searchQuery = ViewBag.SearchQuery, page = ViewBag.CurrentPage })">
                                        <input type="hidden" name="title" value="@movie.title" />
                                        <input type="hidden" name="overview" value="@movie.overview" />
                                        <input type="hidden" name="poster" value="@movie.poster_path_url" />
                                        <button type="submit">Save</button>
                                    </form>
                                }
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>




        <div class="trending-movies">
            <h3 class="trending-text">Top Rated</h3>
        </div>
        <div class="movies-container">
            <div class="card-container">
                @foreach (var movie in Model.TopRatedMovies)
                {
                    <div class="card">
                        <div class="card-image">
                            <img src="@movie.poster_path_url" alt="Movie Poster" />
                        </div>
                        <div class="card-content">
                            <div class="titleHolder">
                                <h2>@movie.title</h2>
                            </div>
                            <div class="button-container">
                                @if (movie.IsSaved)
                                {
                                    <form method="post" action="@Url.Action("RemoveMovie", "Home", new { searchQuery = ViewBag.SearchQuery, page = ViewBag.CurrentPage })">
                                        <input type="hidden" name="title" value="@movie.title" />
                                        <button type="submit" class="@(movie.IsSaved ? "saved" : "")">Remove</button>
                                    </form>
                                }
                                else
                                {
                                    <form method="post" action="@Url.Action("SaveMovie", "Home", new { searchQuery = ViewBag.SearchQuery, page = ViewBag.CurrentPage })">
                                        <input type="hidden" name="title" value="@movie.title" />
                                        <input type="hidden" name="overview" value="@movie.overview" />
                                        <input type="hidden" name="poster" value="@movie.poster_path_url" />
                                        <button type="submit">Save</button>
                                    </form>
                                }
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
</main>
