@model MoviesViewModel

@{
    ViewData["Title"] = "Home Page";
}

<head>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

    <script src="/_framework/aspnetcore-browser-refresh.js"></script>

    @Html.Partial("_NavBar")

    @if (TempData["DetailsError"] != null)
    {
        <script>document.addEventListener('DOMContentLoaded', function () {
                showErrorPopup();
            });</script>
    }

    <main>
        <h1>dis @TempData["Dismovies"]</h1>
        <div class="filters">
            <div class="search-right-container">
                <div class="search-content">
                    <form method="get" action="@Url.Action("Index")">
                        <div class="search-bar">
                            <input type="text" name="searchQuery" placeholder="Search Movies / TV Shows" value="@ViewBag.SearchQuery" />
                        </div>

                        <!--<div class="page-info">-->
                        <!--<h4>Page @(ViewBag.CurrentPage) of @(ViewBag.TotalPages)</h4>-->
                        <!--@if (@User.Identity.IsAuthenticated)
                                {
                                    <h4>@User.FindFirst("Username")?.Value</h4>
                                }
                        </div>-->
                    </form>
                </div>
            </div>




            <!-- Next and Back buttons -->
            <div class="pagination-container">
                @if (ViewBag.CurrentPage > 1)
                {
                    <a href="/Home/Index?page=@(ViewBag.CurrentPage - 1)&searchQuery=@ViewBag.SearchQuery" class="back-button">Back</a>
                }
                else
                {
                    <span>Back</span>
                }

                @if (ViewBag.CurrentPage < ViewBag.TotalPages)
                {
                    <a href="/Home/Index?page=@(ViewBag.CurrentPage + 1)&searchQuery=@ViewBag.SearchQuery" class="next-button">Next</a>
                }
                else
                {
                    <span>Next</span>
                }
            </div>



            <div class="section-container trending-section">

                <div class="trending-movies">
                    <h3 class="trending-text">
                        @if (string.IsNullOrEmpty(ViewBag.SearchQuery))
                        {<text>Testing</text>}
                    else if (TempData["ProcessMovieCount"] is null)
                    {
                        <text>No Results Found</text>
                    }
                    else
                    {<text>Similar Results</text>}
                    </h3>
                </div>
                <div class="@if (string.IsNullOrEmpty(ViewBag.SearchQuery)) {<text>movies-container</text>}">
                    <div class="@if (string.IsNullOrEmpty(ViewBag.SearchQuery)) {<text>card-container</text>} else {<text>card-container-full</text>} ">
                        @foreach (var movie in Model.TrendingMovies)
                        {
                            <div class="card">

                                <a href="@Url.Action("MovieDetails", "Details", new { title = movie.title, id = movie.id})">
                                    <div class="card-image">
                                        <div class="overlay">
                                            <!-- Overlay content -->
                                            <div class="image-container">
                                                <img src="@Url.Content("~/Images/star.png")" class="star" alt="Star" />
                                            </div>
                                            @*<h2>@Math.Round(movie.vote_average, 1)</h2>*@
                                            <h2>@Math.Round(movie.vote_average, 1)</h2>
                                        </div>
                                        <img src="@movie.poster_path_url" alt="Movie Poster" />
                                    </div>
                                </a>
                                <div class="card-content">
                                    <a href="@Url.Action("MovieDetails", "Details", new { title = movie.title, id = movie.id })">

                                        <div class="titleHolder">
                                            <h2>@movie.title</h2>
                                        </div>
                                    </a>
                                    <div class="button-container">
                                        @if (User.Identity.IsAuthenticated)
                                        {
                                            @if (movie.IsSaved)
                                            {
                                                <form method="post" action="@Url.Action("RemoveMovie", "Home", new { searchQuery = ViewBag.SearchQuery, page = ViewBag.CurrentPage })">
                                                    <input type="hidden" name="title" value="@movie.title" />
                                                    <button type="submit" class="@(movie.IsSaved ? "saved" : "")">Remove</button>
                                                </form>
                                            }
                                            else
                                            {
                                                <form method="post" action="@Url.Action("SaveMovie", "Home", new { searchQuery = ViewBag.SearchQuery, page = ViewBag.CurrentPage })">
                                                    <input type="hidden" name="Title" value="@movie.title" />
                                                    <input type="hidden" name="Poster" value="@movie.poster_path_url" />
                                                    <input type="hidden" name="Created" value="@TempData["CurrentDateTime"]" />
                                                    <input type="hidden" name="MovieDbId" value="@movie.id" />
                                                    <button type="submit">Save</button>
                                                </form>
                                            }
                                        }
                                        else
                                        {
                                            <button type="button" class="@(movie.IsSaved ? "saved" : "")" onclick="showSignInPopup()">Save</button>

                                        }
                                    </div>
                                </div>

                            </div>
                        }
                    </div>
                </div>
            </div>




            <div class="section-container trending-section">

                <div class="trending-movies">
                    <h3 class="trending-text">
                        @if (string.IsNullOrEmpty(ViewBag.SearchQuery))
                        {<text>Trending</text>}
                    else if (TempData["ProcessMovieCount"] is null)
                    {
                        <text>No Results Found</text>
                    }
                    else
                    {<text>Similar Results</text>}
                    </h3>
                </div>
                <div class="@if (string.IsNullOrEmpty(ViewBag.SearchQuery)) {<text>movies-container</text>}">
                    <div class="@if (string.IsNullOrEmpty(ViewBag.SearchQuery)) {<text>card-container</text>} else {<text>card-container-full</text>} ">
                        @foreach (var movie in Model.TrendingMovies)
                        {
                            <div class="card">

                                <a href="@Url.Action("MovieDetails", "Details", new { title = movie.title, id = movie.id})">
                                    <div class="card-image">
                                        <div class="overlay">
                                            <!-- Overlay content -->
                                            <div class="image-container">
                                                <img src="@Url.Content("~/Images/star.png")" class="star" alt="Star" />
                                            </div>
                                            @*<h2>@Math.Round(movie.vote_average, 1)</h2>*@
                                            <h2>@Math.Round(movie.vote_average, 1)</h2>
                                        </div>
                                        <img src="@movie.poster_path_url" alt="Movie Poster" />
                                    </div>
                                </a>
                                <div class="card-content">
                                    <a href="@Url.Action("MovieDetails", "Details", new { title = movie.title, id = movie.id })">

                                        <div class="titleHolder">
                                            <h2>@movie.title</h2>
                                        </div>
                                    </a>
                                    <div class="button-container">
                                        @if (User.Identity.IsAuthenticated)
                                        {
                                            @if (movie.IsSaved)
                                            {
                                                <form method="post" action="@Url.Action("RemoveMovie", "Home", new { searchQuery = ViewBag.SearchQuery, page = ViewBag.CurrentPage })">
                                                    <input type="hidden" name="title" value="@movie.title" />
                                                    <button type="submit" class="@(movie.IsSaved ? "saved" : "")">Remove</button>
                                                </form>
                                            }
                                            else
                                            {
                                                <form method="post" action="@Url.Action("SaveMovie", "Home", new { searchQuery = ViewBag.SearchQuery, page = ViewBag.CurrentPage })">
                                                    <input type="hidden" name="Title" value="@movie.title" />
                                                    <input type="hidden" name="Poster" value="@movie.poster_path_url" />
                                                    <input type="hidden" name="Created" value="@TempData["CurrentDateTime"]" />
                                                    <input type="hidden" name="MovieDbId" value="@movie.id" />
                                                    <button type="submit">Save</button>
                                                </form>
                                            }
                                        }
                                        else
                                        {
                                            <button type="button" class="@(movie.IsSaved ? "saved" : "")" onclick="showSignInPopup()">Save</button>

                                        }
                                    </div>
                                </div>

                            </div>
                        }
                    </div>
                </div>
            </div>




            @if (string.IsNullOrEmpty(ViewBag.SearchQuery))
            {

                <div class="section-container popular-section">

                    <div class="trending-movies">
                        <h3 class="trending-text">Popular</h3>
                    </div>
                    <div class="@if (string.IsNullOrEmpty(ViewBag.SearchQuery)) {<text>movies-container</text>}">
                        <div class="@if (string.IsNullOrEmpty(ViewBag.SearchQuery)) {<text>card-container</text>} else {<text>card-container-full</text>} ">
                            @foreach (var movie in Model.PopularMovies)
                            {
                                <div class="card">
                                    <a href="@Url.Action("MovieDetails", "Details", new { title = movie.title, id = movie.id })">
                                        <div class="card-image">
                                            <div class="overlay">
                                                <!-- Overlay content -->
                                                <div class="image-container">
                                                    <img src="@Url.Content("~/Images/star.png")" class="star" alt="Star" />
                                                </div>
                                                <h2>@Math.Round(movie.vote_average, 1)</h2>
                                            </div>
                                            <img src="@movie.poster_path_url" alt="Movie Poster" />
                                        </div>
                                    </a>
                                    <div class="card-content">
                                        <a href="@Url.Action("MovieDetails", "Details", new { title = movie.title, id = movie.id })">

                                            <div class="titleHolder">
                                                <h2>@movie.title</h2>
                                            </div>
                                        </a>
                                        <div class="button-container">
                                            @if (User.Identity.IsAuthenticated)
                                            {
                                                @if (movie.IsSaved)
                                                {
                                                    <form method="post" action="@Url.Action("RemoveMovie", "Home", new { searchQuery = ViewBag.SearchQuery, page = ViewBag.CurrentPage })">
                                                        <input type="hidden" name="title" value="@movie.title" />
                                                        <button type="submit" class="@(movie.IsSaved ? "saved" : "")">Remove</button>
                                                    </form>
                                                }
                                                else
                                                {
                                                    <form method="post" action="@Url.Action("SaveMovie", "Home", new { searchQuery = ViewBag.SearchQuery, page = ViewBag.CurrentPage })">
                                                        <input type="hidden" name="Title" value="@movie.title" />
                                                        <input type="hidden" name="Poster" value="@movie.poster_path_url" />
                                                        <input type="hidden" name="Created" value="@TempData["CurrentDateTime"]" />
                                                        <input type="hidden" name="MovieDbId" value="@movie.id" />
                                                        <button type="submit">Save</button>
                                                    </form>
                                                }
                                            }
                                            else
                                            {
                                                <button type="button" class="@(movie.IsSaved ? "saved" : "")" onclick="showSignInPopup()">Save</button>

                                            }
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>


                <div class="section-container top-rated-section">

                    <div class="trending-movies">
                        <h3 class="trending-text">Top Rated</h3>
                    </div>
                    <div class="@if (string.IsNullOrEmpty(ViewBag.SearchQuery)) {<text>movies-container</text>}">
                        <div class="@if (string.IsNullOrEmpty(ViewBag.SearchQuery)) {<text>card-container</text>} else {<text>card-container-full</text>} ">
                            @foreach (var movie in Model.TopRatedMovies)
                            {
                                <div class="card">
                                    <a href="@Url.Action("MovieDetails", "Details", new { title = movie.title, id = movie.id })">
                                        <div class="card-image">
                                            <div class="overlay">
                                                <!-- Overlay content -->
                                                <div class="image-container">
                                                    <img src="@Url.Content("~/Images/star.png")" class="star" alt="Star" />
                                                </div>
                                                <h2>@Math.Round(movie.vote_average, 1)</h2>
                                            </div>
                                            <img src="@movie.poster_path_url" alt="Movie Poster" />
                                        </div>
                                    </a>
                                    <div class="card-content">
                                        <a href="@Url.Action("MovieDetails", "Details", new { title = movie.title, id = movie.id })">
                                            <div class="titleHolder">
                                                <h2>@movie.title</h2>
                                            </div>
                                        </a>
                                        <div class="button-container">
                                            @if (User.Identity.IsAuthenticated)
                                            {
                                                @if (movie.IsSaved)
                                                {
                                                    <form method="post" action="@Url.Action("RemoveMovie", "Home", new { searchQuery = ViewBag.SearchQuery, page = ViewBag.CurrentPage })">
                                                        <input type="hidden" name="title" value="@movie.title" />
                                                        <button type="submit" class="@(movie.IsSaved ? "saved" : "")">Remove</button>
                                                    </form>
                                                }
                                                else
                                                {
                                                    <form method="post" action="@Url.Action("SaveMovie", "Home", new { searchQuery = ViewBag.SearchQuery, page = ViewBag.CurrentPage })">
                                                        <input type="hidden" name="Title" value="@movie.title" />
                                                        <input type="hidden" name="Poster" value="@movie.poster_path_url" />
                                                        <input type="hidden" name="Created" value="@TempData["CurrentDateTime"]" />
                                                        <input type="hidden" name="TheMovieDbId" value="@movie.id" />
                                                        <button type="submit">Save</button>
                                                    </form>
                                                }
                                            }
                                            else
                                            {
                                                <button type="button" class="@(movie.IsSaved ? "saved" : "")" onclick="showSignInPopup()">Save</button>

                                            }
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            }
            </div>
    </main>

</body>
<script src="~/js/site.js"></script>

