@model SavedMovie

@{
    ViewData["Title"] = "Saved Movies Details Page";
}
<head>
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<h1>@Model.Title</h1>
<h1>@Model.Overview</h1>




<div class="card">
    <div class="card-image">
        <div class="overlay">
            <!-- Overlay content -->
            <div class="image-container">
                <img src="@Url.Content("~/Images/star.png")" class="star" alt="Star" />
            </div>
            <h2>@Model.Rating</h2>
        </div>
        <img src="@Model.Poster" alt="Movie Poster" />
    </div>

    <div class="card-content">
        <div class="titleHolder">
            <h2>@Model.Title</h2>
        </div>

    </div>
</div>