@model List<movie_app_mvc.Models.SavedMovie>

<h1>Saved Movies</h1>

<head>
    <link rel="stylesheet" href="~/css/site.css" />
</head>


@*@foreach (var movie in Model)
{
    <div class="card">
        <h2>@movie.Title</h2>
        <p>@movie.Overview</p>

        <p>hello</p>
        <img src="@movie.Poster" alt="Movie Poster" />

    </div>
}*@



<div class="card-container">
    @foreach (var movie in Model)
    {
        <div class="card">
            <div class="card-image">
                <img src="@movie.Poster" alt="Movie Poster" />
            </div>
            <div class="card-content">
                <h2>@movie.Title</h2>
                <div class="button-container">
                    <form method="post" action="@Url.Action("RemoveMovie", "Home", new { searchQuery = ViewBag.SearchQuery, page = ViewBag.CurrentPage })">
                            <input type="hidden" name="title" value="@movie.Title" />
                            <input type="hidden" name="overview" value="@movie.Overview" />
                            <input type="hidden" name="poster" value="@movie.Poster" />
                            <button type="submit" class="@(movie.IsSaved ? "saved" : "")">Remove</button>
                        </form>
                </div>
            </div>
        </div>
    }
</div>