@model MovieInfo.Result

@{
    ViewData["Title"] = "Details Page";
}



<head>
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>

<body>
    <script src="~/browserLink" type="text/javascript"></script>
    <script src="/_framework/aspnetcore-browser-refresh.js"></script>

    @Html.Partial("_NavBar")

    @if (TempData["DetailsError"] != null)
    {
        <script>document.addEventListener('DOMContentLoaded', function () {
                // Call the JavaScript alert when the page loads and the condition is met
                showErrorPopup();
            });</script>
    }
    <div class="hero-section">
        <div class="detail-card">
            <div class="detail-card-image">
                @if (@TempData["Media_Type"] == "tv")
                {
                    <div class="overlay-details">
                        <!-- Overlay content -->
                        <h2>S @TempData["SeasonNumber"], </h2>
                        <h2>E @TempData["SeasonEpisodeCount"]</h2>
                    </div>
                }

                <img src="@Model.poster_path_url" alt="Movie Poster" />
                <div class="details-save-button">
                    <div class="button-container">
                        @if (User.Identity.IsAuthenticated)
                        {
                            @if (Model.IsSaved)
                            {
                                <form method="post" action="@Url.Action("RemoveMovie", "Home", new { searchQuery = ViewBag.SearchQuery, page = ViewBag.CurrentPage })">
                                    <input type="hidden" name="title" value="@Model.title" />
                                    <button type="submit" class="@(Model.IsSaved ? "saved" : "")">Remove</button>
                                </form>
                            }
                            else
                            {
                                <form method="post" action="@Url.Action("SaveMovie", "Home", new { searchQuery = ViewBag.SearchQuery, page = ViewBag.CurrentPage })">
                                    <input type="hidden" name="Title" value="@Model.title" />
                                    <input type="hidden" name="Poster" value="@Model.poster_path_url" />
                                    <input type="hidden" name="Created" value="@TempData["CurrentDateTime"]" />
                                    <input type="hidden" name="TheMovieDbId" value="@Model.id" />
                                    <input type="hidden" name="Rating" value="@Math.Round(Model.vote_average, 1)" />
                                    <button type="submit">Save</button>
                                </form>
                            }
                        }
                        else
                        {
                            <button type="button" class="@(Model.IsSaved ? "saved" : "")" onclick="showSignInPopup()">Save</button>

                        }

                    </div>
                </div>
            </div>



        </div>
        <div class="detail-information">

            <div class="detail-title-holder">
                <h2 class="detail-title">@TempData["MovieDetailsTitle"] @TempData["ReleaseTitle"]</h2>
            </div>
            <div class="detail-extra-information">
                <div class="detail-info-row">
                    @if (!string.IsNullOrEmpty(ViewBag.Media_PG_Rating))
                    {
                        <div class="pg-rating-container">
                            <h3>@ViewBag.Media_PG_Rating</h3>
                        </div>
                    }
                    <h3 class="detail-text">@ViewBag.FullReleaseDate</h3>
                    <div class="circle-separator"></div>

                    <h3 class="detail-text">@ViewBag.Runtime</h3>
                    <div class="circle-separator"></div>
                </div>
                <div class="detail-info-row">
                    <div class="genre-list">
                        @for (int i = 0; i < ViewBag.Genres.Count; i++)
                        {
                            <h3 class="genre-item">@ViewBag.Genres[i]</h3>
                            @if (i != ViewBag.Genres.Count - 1)
                            {
                                <span class="comma"></span>
                            }
                        }
                    </div>
                </div>
            </div>

            <div class="detail-average-rating-container">
                <div class="detail-star-container">
                    <img src="@Url.Content("~/Images/star.png")" class="detail-star" alt="Star" />
                </div>
                <div class="detail-rating">
                    <h3>@ViewBag.AverageRating</h3>
                </div>
                <div class="trailer-btn-holder">
                    <button id="show-video-button" onclick="showVideo('@TempData["MovieKey"]')">
                        <span class="trailer-icon">
                            <img src="@Url.Content("~/Images/play-icon.png")" alt="Trailer Icon" />
                        </span>
                        Trailer
                    </button>
                </div>

            </div>

            <h3 class="media-overview">@TempData["Media_Overview"]</h3>

            @if (ViewBag.Providers != null && ViewBag.Providers.Count > 0)
            {
                <div class="providers-section">
                    <h3>Top Providers:</h3>
                    <div class="providers-container">
                        <ul>
                            @foreach (var provider in ViewBag.Providers)
                            {
                                <li>
                                    <img src="@provider.logo_path_url" alt="Provider Poster" />
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            }


        </div>

        <div class="tmp-container">
            <div class="dominant" style="background-color: @ViewBag.DominantColorTransparency;">
                <div class="dark-tint"></div>
            </div>

            <div class="background-image-holder">
                <img src="@Model.backdrop_path_url" class="media_background_image" alt="background-image" />
            </div>
        </div>

    </div>


    @if (@TempData["Media_Type"] == "tv")
    {
        <h3>Season Number: @TempData["SeasonNumber"]</h3>
        <h3>Episode Count: @TempData["SeasonEpisodeCount"]</h3>
        <h3>Season Airdate: @ViewBag.SeasonAirDate</h3>
        <h3>Season Runtime: @ViewBag.SeasonRuntime</h3>
    }

    <div class="section-container">
        <div class="trending-movies">
            <h3 class="trending-text">
                Cast
            </h3>
        </div>
        <div class="cast-container">
            <div class="card-cast-container">
                @foreach (var cast in ViewBag.CastList)
                {
                    if (!string.IsNullOrEmpty(@cast.profile_path))
                    {
                        <div class="card card-cast">
                            <div class="card-image card-cast-image">
                                <img src="@cast.profile_path_url" alt="Movie Poster" />
                            </div>
                            <div class="card-cast-content">
                                <div class="cast-titleHolder">
                                    <h2 class="cast-info">@cast.name</h2>
                                </div>

                                <div class="cast-character">
                                    <h2>@cast.character</h2>
                                </div>
                            </div>

                        </div>
                    }
                }
            </div>
        </div>
    </div>


    <div class="section-container main-detail-section">
        <div class="moviesDetailsContainer">

            <h1>Show ID: @TempData["movieID"]</h1>
            <h1>Show Key: @TempData["MovieKey"]</h1>

            @if (@TempData["Media_Type"] == "tv")
            {
                <h3><strong>Time remaining until next episode:</strong> @TempData["NextEpisodeRemainingTime"]</h3>

                <h3><strong>Air Date:</strong> @TempData["NextAirDate"]</h3>

                <h3><strong>Season:</strong> @ViewBag.SeasonNumber</h3>

                <h3><strong>Episodes:</strong> @TempData["SeasonEpisodeCount"]</h3>

                @*<h3><strong>Total Episode Count:</strong> @TempData["episodeTotalCount"]</h3>*@

                <h3><strong>Episode Duration:</strong> @ViewBag.EpisodeRuntime minutes</h3>

            }

            <h3><strong>Format:</strong> @TempData["Media_Type"]</h3>
            <h3><strong>Release Date:</strong> @TempData["ReleaseTitle"]</h3>
            <h3><strong>Status:</strong> @TempData["Status"]</h3>

        </div>
    </div>

    @if (ViewBag.ResultList != null && ViewBag.ResultList.Count > 0)
    {
        <div class="section-container">
            <div class="trending-movies">
                <h3 class="trending-text">
                    Recommendations
                </h3>
            </div>

            <div class="movies-container">
                <div class="card-container else">
                    @foreach (var movie in ViewBag.ResultList)
                    {
                        <div class="card">

                            <a href="@Url.Action("MovieDetails", "Details", new { title = movie.title, id = movie.id})">
                                <div class="card-image">
                                    <div class="overlay">
                                        <!-- Overlay content -->
                                        <div class="image-container">
                                            <img src="@Url.Content("~/Images/star.png")" class="star" alt="Star" />
                                        </div>
                                        @*<h2>@Math.Round(movie.vote_average, 1)</h2>*@
                                        <h2>@Math.Round(movie.vote_average, 1)</h2>
                                    </div>
                                    <img src="@movie.poster_path_url" alt="Movie Poster" />
                                </div>
                            </a>
                            <div class="card-content">
                                <a href="@Url.Action("MovieDetails", "Details", new { title = movie.title, id = movie.id })">

                                    <div class="titleHolder">
                                        <h2>@movie.title</h2>
                                    </div>
                                </a>
                                <div class="button-container">
                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        @if (movie.IsSaved)
                                        {
                                            <form method="post" action="@Url.Action("RemoveMovie", "Home", new { searchQuery = ViewBag.SearchQuery, page = ViewBag.CurrentPage })">
                                                <input type="hidden" name="title" value="@movie.title" />
                                                <button type="submit" class="@(movie.IsSaved ? "saved" : "")">Remove</button>
                                            </form>
                                        }
                                        else
                                        {
                                            <form method="post" action="@Url.Action("SaveMovie", "Home", new { searchQuery = ViewBag.SearchQuery, page = ViewBag.CurrentPage })">
                                                <input type="hidden" name="Title" value="@movie.title" />
                                                <input type="hidden" name="Poster" value="@movie.poster_path_url" />
                                                <input type="hidden" name="Created" value="@TempData["CurrentDateTime"]" />
                                                <input type="hidden" name="TheMovieDbId" value="@movie.id" />
                                                <input type="hidden" name="Rating" value="@Math.Round(movie.vote_average, 1)" />
                                                <button type="submit">Save</button>
                                            </form>
                                        }
                                    }
                                    else
                                    {
                                        <button type="button" class="@(movie.IsSaved ? "saved" : "")" onclick="showSignInPopup()">Save</button>

                                    }
                                </div>
                            </div>

                        </div>
                    }
                </div>
            </div>
        </div>
    }


    <div class="moviesDetailsContainer">

        <h1>Show ID: @TempData["movieID"]</h1>
        <h1>Show Key: @TempData["MovieKey"]</h1>

        @if (@TempData["Media_Type"] == "tv")
        {
            <h1>Seasons: @ViewBag.SeasonNumber</h1>

            <h1>Current Season Episode Count: @TempData["SeasonEpisodeCount"]</h1>

            <h1>Total Episode Count: @TempData["episodeTotalCount"]</h1>

            <h1>Average Runtime: @ViewBag.EpisodeRuntime minutes</h1>
        }


        <!-- Overlay video element -->
        <div id="overlay-video">
            <div class="close-header">
                <button id="close-button" onclick="closeVideo()">Close</button>
            </div>
            <div id="video-container">
                <iframe id="video-iframe" width="100%" height="100%" frameborder="0" allowfullscreen autoplay></iframe>
            </div>
        </div>



        <div>
            <iframe src="https://www.youtube.com/embed/@TempData["MovieKey"]?autoplay=1" width="50%" height="50%" frameborder="0"></iframe>
        </div>

    </div>



</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/color-thief/2.3.0/color-thief.umd.js"></script>

<script src="~/js/site.js"></script>