@model MovieInfo.Result


<head>
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>

<body>

    <script src="/_framework/aspnetcore-browser-refresh.js"></script>

    @Html.Partial("_NavBar")


    <h1>testing @ViewBag.TestingTitle</h1>
    <h1>testing @ViewBag.TestingID</h1>
    @if (Model != null && !string.IsNullOrEmpty(Model.title))
        {
            <h1>@Model.title</h1>
            <h1>@Model.overview</h1>
        }
        @*else
        {
            <h1>Hello</h1>

            <h1> over should be @Model.overview</h1>

        }*@
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/color-thief/2.3.0/color-thief.umd.js"></script>

<script src="~/js/site.js"></script>

@*<script>
         Previous js for trailer
            // Get the elements
            const showVideoButton = document.getElementById('show-video-button');
            const overlayVideo = document.getElementById('overlay-video');
            const closeVideoButton = document.getElementById('close-button');
            const videoIframe = document.getElementById('video-iframe');
            const movieKey = "@ViewBag.MovieKey";

            // Add click event listener to the show video button
            showVideoButton.addEventListener('click', function () {
                overlayVideo.style.display = 'flex';
                videoIframe.src = `https://www.youtube.com/embed/${movieKey}?autoplay=1`;
                closeVideoButton.style.display = 'block';
            });

            // Add click event listener to the close video button
            closeVideoButton.addEventListener('click', function () {
                overlayVideo.style.display = 'none';
                videoIframe.src = '';
                closeVideoButton.style.display = 'none';
            });
        }
    </script>*@
